body {
    margin: 2px;
}

.header-section {
    margin: 0;
    padding: 0;
    margin-bottom: 100px;
    width: 100%;


}

.nav-bar {
    display: flex;
    width: 100%;
    padding-top: 10px;
    background-color: lightgray;
    align-items: center;
    text-decoration-line: none;
    border-radius: 5px;
    box-shadow: 0 0 30px #000000;


}

.logo {
    margin-right: 57%;
    padding-left: 5, 5%;
    padding-bottom: 2%;
    padding-top: 10px;
}

.logo img {
    width: 90px;
    height: 90px;
    margin-left: 12px;
    box-shadow: 0 0 25px;

}

.nav-bar ul li {

    display: inline;
    padding-right: 0px;
    margin-right: 15px;




}

.nav-bar ul li a {
    text-decoration: none;
    font-size: 20px;
    color: green;
    padding: 5px 14px;

    background-color: whitesmoke;
    border-radius: 15px;
}

ul li a:hover {
    color: lightsalmon;
    background-color: whitesmoke;
    border-radius: 20px;
    transition: all .4s ease-in-out;
    box-shadow: 0 0 10px #000000;


}

.video-box1 {
    margin: 30px;
    width: 90%;
    height: 500px;
    box-shadow: 15px 15 15px lightblue;

}

.sections {

    width: 100%;
    height: auto;
}

.about-me {
    display: flex;
    flex-flow: column;
}

.personal-info {
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 2%;
    text-align: center;
    box-shadow: 0 29px 20px #000000;
    color: black;
    background-color: #ccc;
    opacity: .7;
}

.education {
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 2%;

    box-shadow: 0 0 25px #000000;
    text-align: center;
    box-shadow: white;
    color: black;
    background-color: #ccc;
    opacity: .7;

}

.work-experience {
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 5%;
    text-align: center;
    box-shadow: lightgrey;

    color: black;
    background-color: #ccc;
    opacity: .7;
    box-shadow: 0 25px 10px #000000;
}


.sections h1 {
    padding-left: 60px;
}

.bio-section {

    padding: 10px;
    padding-left: 15px;
    margin-top: 10px;
    display: flex;
    margin-bottom: 15px;
    border-radius: 20px;

}

.bio-section p {
    width: 40%;

    color: hx(0%, 0%, 0%, 14%);
    padding: 15px;
    font-size: 16px;
    background-color: lightgray;
    box-shadow: 15px 15px #525151e9;
    border: none;
}

.sections h1 {
    border: lightgray;
}

video {
    object-fit: fill;
    min-height: 400px;
}

img {
    width: 200px;
    height: 250px;
    border-radius: 50%;
    margin-left: 20%;

    box-shadow: 0 0 50px #525151e9;


}

footer ul li {
    display: inline;
    padding-left: 20px;
}

footer ul li a {
    display: inline;
    color: brown;
}

/* =====================contact us ==================*/



/* Style inputs */
input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: whitesmoke;
    color: black;
    padding: 12px 20px;
   
    cursor: pointer;
    border: none;
    width: 100%;

}

input[type=submit]:hover {
    background-color: green;
    color: white;
    transition: 0.5s;
}

/* Style the container/contact section */
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
}

/* Create two columns that float next to eachother */
.column {
    margin-left: 17%;
    width: 50%;
    margin-top: 6px;
    background-color: lightgray;
    padding: 50px;
    box-shadow: 0 0 42px;
}

.column h2 {
    background-color: #000;
    color: #ccc;
    border-radius: 2px;
    margin-bottom: auto;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {

    .column,
    input[type=submit] {
        width: 100%;
        margin-top: 0;
    }

    .nav-bar {
        width: 100%;
        display: flex;
        flex-direction: row;
    }
}

@media only screen and (Max-width: 768px) {}

/* =====================================================================footer styling===================================*/


footer {
    background-color: lightgrey;
}

.footerContainer {
    width: 100%;
    padding: 70px 30px 20px;
}

.socialIcons {
    display: flex;
    justify-content: center;
}

.socialIcons a {
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}

.socialIcons a i {
    font-size: 2em;
    color: black;
    opacity: 0, 9;
}

/* Hover affect on social media icon */
.socialIcons a:hover {
    background-color: #111;
    transition: 0.5s;
}

.socialIcons a:hover i {
    color: white;
    transition: 0.5s;
}

.footerNav {
    margin: 30px 0;
}

.footerNav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.footerNav ul li a {
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;

}

.footerNav ul li a:hover {
    opacity: 1;
    color: #000;
    padding: 5px;
}

.footerBottom {
    background-color: lightblue;
    padding: 20px;
    text-align: center;
}

.footerBottom p {
    color: white;
}

.designer {
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}

@media (max-width: 700px) {
    .footerNav ul {
        flex-direction: column;
    }

    .footerNav ul li {
        width: 100%;
        text-align: center;
        margin: 10px;
    }

    .socialIcons a {
        padding: 8px;
        margin: 4px;
    }
}